@using Fdmc.Models.ViewModels

@model CatDetailsViewModel

@{
    this.ViewData["Title"] = "Details page";
}

<div>
    Name: @this.Model.Name
</div>
<div>
    Age: @this.Model.Age
</div>
<div>
    Breed: @this.Model.Breed
</div>
<div>
    Image: @this.Model.ImageUrl
</div>
