@using Panda.BindingModels.ViewModels
@model AccountRegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<main>
    <h1 class="text-center text-panda">Register</h1>
    <hr class="bg-panda w-50" style="height: 2px" />
    <form asp-action="Register" class="w-50 mx-auto">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Username" class="text-panda">Username</label>
            <input asp-for="Username" class="form-control" placeholder="Username..." />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="text-panda">Email</label>
            <input asp-for="Email" class="form-control" placeholder="Email..." />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="text-panda">Password</label>
            <input asp-for="Password" class="form-control" placeholder="Password..." />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="text-panda">Confirm Password</label>
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password..." />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn bg-panda text-white" style="background: black">Register</button>
        </div>
    </form>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
